* {
  box-sizing: border-box;
}

body {
  background: url('assets/piano_backg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: black;
}

a {
  cursor: pointer;
}

a:hover {
  color: rgb(0, 65, 255);
}

                        /* segítő színek */
/*
.profile-card {
  background-color: rgb(255, 0, 0, .4);
}

.headline {
  background-color: rgb(200, 80, 0, .4);
}

.links {
  background-color: rgb(100, 20, 40, .4);
}

.content {
  background-color: rgb(0, 0, 130, .4);
}*/

                            /* igazítás */

.profile-card {
  background-color: rgba(255, 255, 255, .9);
  max-width: 38rem;
  height: 70vh;
  border: 0.1rem solid black;
  padding: 0.0625rem;
  border-radius: 4%;
}

body {    /*flexbox*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.address {
  text-align: center;
}

a {
  font-size: 2.3rem;
  color: rgb(232, 225, 89);
}

.links {
  text-align: center;
  padding: 1rem;
  margin-top: 0.6rem;
}

li {
  display: inline-block;
  padding: 0.7rem;
}

.content {
  padding: 1rem;
}


                          /* ikonok igazítása */

img {
  float: right;
  padding: 1rem;
  max-width: 6rem;
}

.second_pic {
  float: left;
}


                          /* tipográfia */

body {
  font-family: "Josefin Sans", "Times New Roman", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

h1 {
  font-family: Asset, Arial, cursive;
  font-size: 2.3rem;
  padding: 0.5rem;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

                          /* extra */

h1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}


                            /* mobil - 425px */

@media screen and (max-width: 426px) {
  
  body {
    font-size: 1.2rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  
  .profile-card {
    height: 31rem;
  }
  
}

 
                           /* mobil - 375px */

@media screen and (max-width: 375px) {
  
  body {
    font-size: 0.9rem;
  }
  
  h1 {
    font-size: 1.4rem;
  }
  
  .profile-card {
    height: 26rem;
  }
}

                           /* mobil - 320px */

@media screen and (max-width: 321px) {
  
  body {
    font-size: 0.7rem;
  }
  
  h1 {
    font-size: 0.9rem;
  }
  
  .profile-card {
    height: 22rem;
  }
}
