* {
  box-sizing: border-box;
}

body {
  background: url('assets/vlm_backg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
}

a {
  cursor: pointer;
}

a:hover {
  color: rgb(0, 65, 255);
}

                        /* segítő színek */
/*
.profile-card {
  background-color: rgb(255, 0, 0, .4);
}

.headline {
  background-color: rgb(200, 80, 0, .4);
}

.links {
  background-color: rgb(100, 20, 40, .4);
}

.content {
  background-color: rgb(0, 0, 130, .4);
}*/

                            /* igazítás */

.profile-card {
  width: 70vw;
  max-width: 45rem;
  height: 50vh;
  margin-right: 2%;
  margin-top: 2%;
  float: right;
  padding: 1rem;
}

body {    /*flexbox*/
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  height: 100vh;
}

.profile-card {
  padding: 0.0625rem;
  border-radius: 4%;
}

.address {
  text-align: center;
}

a {
  font-size: 2.3rem;
  color: rgb(110, 240, 255);
}

.links {
  text-align: center;
  padding: 1rem;
}

li {
  display: inline-block;
  padding: 0.7rem;
}

.content {
  padding: 1rem;
  margin-top: 1rem;
}


                          /* ikon igazítása */

img {
  float: right;
  transition: 2s;
  transition-delay: .5s;
  padding: 1rem;
  margin-right: 2rem;
}


                          /* tipográfia */

body {
  font-family: "Josefin Sans", "Times New Roman", sans-serif;
  font-size: 1.3rem;
  text-align: justify;
}

h1 {
  font-family: Asset, Arial, cursive;
  font-size: 2rem;
  padding: 0.5rem;
  text-align: center;
}

h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

                          /* extra */

h1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}
