/* CSS reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/* segítő színek: 
.profile-card {
  background-color: hsla(60, 100%, 50%, .4);
}

.head {
  background-color: rgba(30, 160, 35, 0);
}

.content {
  background-color: rgba(30, 160, 35, 0.5);
}

.profil-image {
  background-color: rgba(150, 45, 150, 0.5);
}

.name-headline {
  background-color: rgba(150, 45, 150, 0.5);
}

.about {
  background-color: rgba(150, 45, 150, 0.5);
}

.links {
  background-color: rgba(150, 45, 150, 0.5);
}
*/

body {
  float: right;
  height: 100vh;
  background: url('assets/vlm_backg.jpg') no-repeat center center fixed;
  background-size: cover;
  color: rgba(215, 213, 204, 0.9);
  margin: 2%;
}

.profile-card {
  max-width: calc(100vw - 10px);
  width: 700px;
  height: 600px;
}

.head, .links {
  text-align: center;
}

.head, .content {
  width: 90%;
  margin: 0 auto;
}

img {
  width: 100px;
  height: 200px;
  position: fixed;
  right: 0;
  margin: 15px;
  margin-right: 80px;
}

a {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.head, .about {
  margin-bottom: 10%;
}

.content {
  padding: 1% 5%;
  background-color: aqua
  text-align: justify;
  width: 660px;
  border-top: 1px solid hsla(0, 0%, 30%, .8);
  margin-top: 20px;
}

h1:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
  color: white;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
}

h1 {
  font-variant: small-caps;
  font-size: 35px;
  filter: grayscale(50%);
}

li {
  font-size: 40px;
  display: inline;
}

#link {
  font-size: 25px;
  
}

.name-headline {
  text-align: center;
}